// Font "Alice"
@font-face {
    font-family: "lg";
    src: url(../fonts/lg.ttf) format("ttf"), url(../fonts/lg.woff) format("woff"),
        url(../fonts/lg.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

// Font "TTCommons"
@font-face {
    font-family: "TTCommons";
    src: url(../fonts/TTCommons/TTCommons-Regular.woff) format("ttf"), url(../fonts/TTCommons/TTCommons-Regular.woff) format("woff"),
        url(../fonts/TTCommons/TTCommons-Regular.woff) format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "TTCommons";
    src: url(../fonts/TTCommons/TTCommons-Medium.woff) format("ttf"), url(../fonts/TTCommons/TTCommons-Medium.woff) format("woff"),
        url(../fonts/TTCommons/TTCommons-Medium.woff) format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "TTCommons";
    src: url(../fonts/TTCommons/TTCommons-DemiBold.woff) format("ttf"), url(../fonts/TTCommons/TTCommons-DemiBold.woff) format("woff"),
        url(../fonts/TTCommons/TTCommons-DemiBold.woff) format("woff2");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "TTCommons";
    src: url(../fonts/TTCommons/TTCommons-Bold.woff) format("ttf"), url(../fonts/TTCommons/TTCommons-Bold.woff) format("woff"),
        url(../fonts/TTCommons/TTCommons-Bold.woff) format("woff2");
    font-weight: 700;
    font-style: normal;
}