@media (min-width: 991px) {
    .methods .accordion {
        grid-template-columns: 1fr 1fr 1fr !important;
    }

    .doctors-cards {
        grid-template-columns: 1fr 1fr 1fr !important;
    }

    .doctors-cards .card .name {
        font-size: 24px !important;
    }

    .doctors-cards .card .post {
        font-size: 18px !important;
    }

    .doctors-cards .card .info img {
        width: 150px !important;
        height: 150px !important;
    }

    .price .btn {
        font-size: 16px !important;
    }

    .doctors-cards .card .info .price .text-2xl {
        font-size: 14px !important;
    }

    .pricing .subtitle {
        width: 50%;
    }
    .pricing-cards {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

    .pricing-cards .card {
        border-radius: 16px !important;
        padding: 24px !important;
        border: 0 !important;
    }

    .pricing-cards .card > .text-5xl {
        font-size: 32px !important;
        margin-bottom: 8px;
    }
    .pricing-cards .card > .text-2xl {
        font-size: 36px !important;
        margin-bottom: 8px;
    }
    .pricing-cards .card > .text-sm {
        font-size: 18px !important;
        margin-bottom: 8px;
    }
    .pricing-cards .card .btn {
        width: -moz-fit-content;
        width: fit-content;
        font-size: 18px !important;
    }

    .start .container {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .start .container .left-block, .start .container .right-block {
        width: 100%;
    }
    .start .card {
        padding: 16px;
        border: none;
        border-radius: 12px;
    }
    .start .card .input-form {
        border: 1px solid #C19F80;
        padding: 7px 16px 14px 16px;
        margin: auto;
        border-radius: 4px;
    }
    .start .card .input-form legend {
        width: auto;
        float: none;
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0 8px;
        margin-bottom: 0;
    }
    .start .card .input-form + .input-form {
        margin-top: 8px;
    }
    .start .card .input-form input, .start .card .input-form textarea {
        width: 100%;
        border: 0;
        outline: none;
        resize: none;
    }
    .start .card .input-file {
        position: relative;
        display: inline-block;
        width: 100%;
    }
    .start .card .input-file-row {
        display: flex;
        flex-direction: column;
        margin: 8px 0;
    }
    .start .card .input-file .attach {
        position: relative;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        font-size: 16px;
        vertical-align: middle;
        color: var(--primary);
        background-color: transparent;
        line-height: 22px;
        padding: 12px 0px;
        box-sizing: border-box;
        border-bottom: 1px solid var(--primary);
        margin: 0;
        transition: background-color 0.2s;
        width: 100%;
    }
    .start .card .input-file input[type=file] {
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
    }
    .start .card .input-file input[type=file]:focus + span {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    .start .card .input-file input[type=file]:disabled + span {
        background-color: #eee;
    }
    .start .card .input-file-list {
        padding: 10px 0;
    }
    .start .card .input-file-list-item {
        margin-bottom: 10px;
    }
    .start .card .input-file-list-remove {
        color: red;
        text-decoration: none;
        display: inline-block;
        margin-left: 5px;
    }
    .start .map {
        border-top: 0.5px solid #ddd;
        padding-top: 16px;
    }
    .start .map .caption {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }
    .start .map .caption .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
    .start .map .caption .text p {
        margin-bottom: 0;
    }
    .start .map .caption .icon-2gis {
        content: "";
        background-image: url("../img/2gis-logo.svg");
        background-position: center;
        background-repeat: no-repeat;
        width: 100px;
        height: 44px;
        flex: none;
        background-size: cover;
    }
    .start .map .frame {
        width: 100%;
        height: 100%;
        padding-top: 56%;
        border-radius: 24px;
        overflow: hidden;
        margin-top: 16px;
    }
}


.methods a{
    text-decoration: none;
}

.methods .btn{
    width: 300px;
}


@media (max-width: 991px) {
    .scheme .object {
        position: static;
        width: 240px;
        height: 500px;
        background-size: contain;
        background-position-x: center;
    }
    .scheme .object .helper {
        left: 0;
        transform: translateX(0) !important;
    }
    .scheme .object .helper.is-1 {
        top: 20px;
    }
    .scheme .object .helper.is-2 {
        top: 120px;
    }
    .scheme .object .helper.is-3 {
        top: 345px;
    }
    .scheme .object .helper.is-4 {
        top: 480px;
    }
    .scheme .object .helper.is-5 {
        top: 60px;
    }
    .scheme .object .helper.is-6 {
        top: 130px;
    }
    .scheme .object .helper.is-7 {
        top: 200px;
    }
    .scheme .object .helper.is-right {
        left: auto;
        transform: translateX(0) !important;
    }
    .scheme .object .helper.is-right .content .caption {
        left: auto;
        right: 0;
        text-align: right;
        transform: translateX(0);
    }
    .scheme .object .helper .content .caption {
        position: absolute;
        top: 100%;
        left: 0;
        font-size: 2.5vmin;
        letter-spacing: 0.16667vmin;
        line-height: 3.61111vmin;
        white-space: normal;
        transform: translateX(0);
    }
    .scheme .object .helper .content .toggler {
        margin: 0;
        width: 7.77778vmin;
        height: 7.77778vmin;
        border-radius: 3.05556vmin;
        font-size: 5.27778vmin;
    }
    .scheme .object .helper .content .pointer {
        width: 30.55556vmin;
        height: 0.27778vmin;
    }
    .scheme .popups .popup {
        left: 0;
        right: 0;
        width: 100%;
    }
    .scheme .popups .popup .close {
        right: 3vmin;
        top: 3vmin;
        width: 4.44444vmin;
        height: 4.44444vmin;
    }
    .scheme .popups .popup .close svg {
        width: 4.44444vmin;
        height: 4.44444vmin;
    }
    .scheme .popups .popup .content {
        padding: 12vmin 5.55556vmin 2.77778vmin 5.55556vmin;
        width: 100%;
        height: 88.88889vmin;
    }
    .scheme .popups .popup .caption {
        margin: 0 0 8.33333vmin;
        font-size: 5.55556vmin;
        letter-spacing: 0.03333vmin;
        line-height: 6.94444vmin;
    }
    .scheme .popups .popup .text {
        margin: 0 0 5.55556vmin;
        font-size: 3.33333vmin;
        letter-spacing: 0.01944vmin;
        line-height: 6.38889vmin;
    }
    .scheme .popups .popup .action {
        padding: 2.77778vmin 0 5.55556vmin 6.44444vmin;
    }
    .scheme .popups .popup .action .link {
        font-size: 3.33333vmin;
        letter-spacing: 0.4vmin;
        line-height: 2.77778vmin;
    }
    .scheme .popups .popup .action .link span {
        margin-left: 3.33333vmin;
        width: 5.83333vmin;
        height: 5.83333vmin;
    }
    .scheme .popups .popup .doctor {
        padding: 6.66667vmin 0 3.33333vmin 2.22222vmin;
    }
    .scheme .popups .popup .doctor .teaser .photo {
        margin-right: 4.16667vmin;
        width: 11.38889vmin;
        height: 11.38889vmin;
    }
    .scheme .popups .popup .doctor .teaser .text {
        margin-bottom: 1.11111vmin;
        font-size: 3.88889vmin;
        letter-spacing: 0.01667vmin;
        line-height: 4.44444vmin;
    }
    .scheme .popups .popup .doctor .teaser .name {
        font-size: 4.44444vmin;
        letter-spacing: 0.00833vmin;
        line-height: 5.55556vmin;
    }
}/*# sourceMappingURL=style.css.map */
